@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto.ttf");
}

body {
    font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
    border: 1px solid red;
    height : 100px;
}

.main {
    border: 1px solid white;
    height: 300px
}

.footer {
    border: 1px solid red;
    height:  80px;

}